<div class="account">
  <div class="account-icon">
    <img width="44" data-src="iconUrl"/>
  </div>
  <ul class="account-folders">
    <li class="default-folder inbox">
      <div class="icon-drawer"></div>
      <div class="folder-counter" data-text="count"></div>
    </li>
    <li class="default-folder starred">
      <div class="icon-star"></div>
      <div class="folder-counter" data-text="count"></div>
    </li>
    <li class="default-folder sent">
      <div class="icon-bullhorn"></div>
      <div class="folder-counter" data-text="count"></div>
    </li>
    <li class="default-folder drafts">
      <div class="icon-file"></div>
      <div class="folder-counter" data-text="count"></div>
    </li>
    <li class="default-folder trash">
      <div class="icon-remove2"></div>
      <div class="folder-counter" data-text="count"></div>
    </li>
  </ul>
</div>