
/**
 *  Pepper components.
 */

@import url('component.css');

/**
 *  Overall styles.
 */

* {
  -webkit-user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
