
/**
 * Import pepper styles.
 */

@import url('views/index.css');

/**
 * Import icon styles.
 */

@import url('fonts/icons.css');

/**
 *  Overall styles.
 */

* {
  -webkit-user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
